<!DOCTYPE html>
<html lang="en" style="margin: 0;">
<head>
   <meta charset="utf-8">
   <title>HTML 5 Player</title> 

   <link rel="stylesheet" type="text/css" href="<%= path %>/autoplay.css?v=5.0.0.3">
    <script src="<%= path %>/iphone-min.js?v=5.0.0.3"></script>
          

</head>
<body style="margin: 0;padding: 0;">
<style>

</style>
   <div id="mycontoller" style="position:relative;opacity: 0;filter: alpha(Opacity=0);">
    <div id="container"></div>
    <div id="placeholder"><span>Загрузка</span></div>
	</div>
	<script>
	</script>

<script src="<%= path %>/myadroid-min.js?v=5.0.0.9"></script>
<div style="clear:both"></div>	
<div id="ilias_id"></div>	
</body>
</html>  